 .home_cards {
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-bottom: .02em;
    margin-right: .02em;
    margin-left: .02em;
    flex-basis: auto;
    height: 100%; 
    width: auto;
  }
   


div .home_card_container {
max-width: 400px;
max-height: 200px;
padding: 20px 10px 10px 10px;
  }
  

div .background {
  background-image: url("/src/lappelduvide.jpeg");
  background-color: transparent;
  max-width: 100%;
  max-height: zero;
}

.flowers {
  max-width: 50%;
  opacity:"transparent";
  background-image: "/images/watercolour-flowers-4610144_1920.png"
}