@import url('https://fonts.googleapis.com/css2?family=Scheherazade');



div .home_img {
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  color: #d6fcff;
  color:#0099CC;
  align-content: center;
  padding: 10px 10px 10px 10px;
  max-width: 80%;
  max-height: zero;
  
}

header  {
  color: #0099CC;
  font-weight: bold;
  font-family: 'Scheherazade', serif;
  font-size: 14px;
}


body,
button,
input,
select,
textarea {
  color: #0099CC;
  line-height: 1.5;
  font-family: 'Scheherazade', serif;
  font-size: 14px;
  
  }

  body 

  {
    background-image: url(/images/paper.jpg)
  }