@import url('https://fonts.googleapis.com/css2?family=Scheherazade');





header  {
  background-image: linear-gradient(to right, rgba(49, 7, 97, 0), rgba(181, 158, 201, 0.488));
  text-align: center;
}



body,
button,
input,
select,
textarea {
  color: rgb(208, 137, 230);
  line-height: 1.5;
  font-family: 'Scheherazade', serif;
  font-size: 14px;
  padding: 0%;
  }

  body 

  {
    background-image: url(/images/paper.jpg)
  }