@import url('https://fonts.googleapis.com/css2?family=Scheherazade');

div .home_img {
  color: #d6fcff;
  color:#0099CC;
  align-content: center;
  max-width: 80%;
  max-height: zero;
  padding-left: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
  
}

header  {
  color: #0099CC;
  text-align: center;
}


body,
button,
input,
select,
textarea {
  color: #0099CC;
  line-height: 1.5;
  font-family: 'Scheherazade', serif;
  font-size: 14px;
  
  }

  body 

  {
    background-image: url(/images/paper.jpg)
  }