div .jumbotron {
    background-color: rgba(233, 253, 255, 0.781);
    
  }

.nav-link .link_text
{ color: rgb(255, 255, 255) ; }

.nav-link .link_text:hover 
{ color: rgb(123, 232, 247) ; }

div .navbar {
    padding-bottom: 20px;
    flex-basis: auto;
}


header .jumbotron-fluid {
    margin-bottom: 0px;
    margin-top: 0px;
}
